.containerz {
  background-image: url("https://images.unsplash.com/photo-1565688103955-d38e06888776?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
  object-fit: cover;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transform: "translate(-50%,-50%)";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form_c {
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 370px;
  padding-right: 600px;
  margin-left: 100px;
  position: center;
  z-index: -1;
  transform: "translate(-50%,-50%)";
}

.form_horizontal {
  background-color: rgb(255, 255, 255);
  overflow: auto;
  min-width: 500px;
  min-height: 300px;
  /* -webkit-box-shadow: 10px 10px 10px 10px #080808;
  box-shadow: 10px 10px 10px 10px #111111; */
  padding: 10px;
  position: relative;
  color: rgb(0, 0, 0);
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  opacity: 2;
  outline: 4px solid #000000;
  outline-offset: 0px;
}

div.col-md-3 {
  padding-top: 10px;
}
div.form-group {
  padding-top: 10px;
}

div.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 100px;
  width: 100px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
div.imgPreview img {
  width: 100%;
  height: 100%;
}
div.previewText {
  width: 100%;
  margin-top: 20px;
}

.button {
  display: inline-block;
  /*vertical-align: top;*/
  height: 40px;
  line-height: 40px;
  margin: 4px;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .containerz > .form_c {
    font-size: 20px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .containerz > .form_c {
    font-size: 50px;
    padding-top: 30px;
  }
}

.previewComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.preview {
  margin-bottom: 10px;
  display:flex;
  flex-direction: column;
}

.image {
  max-width: 100px;
  max-height: 320px;
  margin: 5px;
}

.delete {
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-color: rgb(163, 45, 45);
  margin-left: 5px;
  color: aliceblue;
  border: none;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
