.containerz {
  background-image: url("https://images.unsplash.com/photo-1565688103955-d38e06888776?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
  object-fit: cover;
  height: 100%;
  z-index: -1;
  transform: "translate(-50%,-50%)";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form_c {
  padding-top: 150px;
  padding-bottom: 100px;
  padding-left: 370px;
  padding-right: 600px;
  margin-left: 100px;
  position: center;
  z-index: -1;
  transform: "translate(-50%,-50%)";
}

.form_horizontal {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  width: 100vh;
  padding: 10px;
  position: relative;
  color: rgb(255, 254, 254);
  background-color: #020202;
  opacity: 0.95;
}

div.col-md-3 {
  padding-top: 10px;
}
div.form-group {
  padding-top: 10px;
}

div.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 100px;
  width: 100px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
div.imgPreview img {
  width: 100%;
  height: 100%;
}
div.previewText {
  width: 100%;
  margin-top: 20px;
}

.buttonp {
  display: inline-block;
  /*vertical-align: top;*/
  width: 80px;
  height: 30px;
  line-height: 30px;
  margin: 4px;
  margin-bottom: 30px;
  text-align: center;
}
