:root {
  --mainDark: #353535;
  --mainGray: rgba(109, 109, 109);
  --mainLightGray: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}
.bg {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).webp");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
